<div class="columns alpha sixteen" data-hook="billing_fieldset_wrapper">
<fieldset id="billing" data-hook>
  <%= form.fields_for :bill_address do |bill_form| %>
    <legend><%= t(:billing_address) %></legend>
    <div class="inner" data-hook="billing_inner">
      <div class="columns eight">
        <p class="field" id="email">
        <%= label_tag :email, 'Ваш e-mail' %><span class="req">*</span><br />
        <%= text_field :order, :email, :class => 'required' %>
        </p>
        <p class="field" id="bfirstname">
        <%= bill_form.label :firstname, t(:first_name) %><span class="req">*</span><br />
        <%= bill_form.text_field :firstname, :class => 'required' %>
        </p>
        <p class="field" id="blastname">
        <%= bill_form.label :lastname, t(:last_name) %><span class="req">*</span><br />
        <%= bill_form.text_field :lastname, :class => 'required' %>
        </p>
      </div>
      <div class="eight">
        <% if Spree::Config[:company] %>
          <p class="field" id="bcompany">
          <%= bill_form.label :company, t(:company) %><br />
          <%= bill_form.text_field :company %>
          </p>
        <% end %>
        <p class="field" id="baddress1">
        <%= bill_form.label :address1, t(:street_address) %><span class="req">*</span><br />
        <%= bill_form.text_field :address1, :class => 'required' %>
        </p>
        <p class="field" id="baddress2">
        <%= bill_form.label :address2, t(:street_address_2) %><br />
        <%= bill_form.text_field :address2 %>
        </p>

        <p class="field" id="bphone">
        <%= bill_form.label :phone, t(:phone) %><span class="req">*</span><br />
        <%= bill_form.text_field :phone, :class => 'required' %>
        </p>
        <% if Spree::Config[:alternative_billing_phone] %>
          <p class="field" id="baltphone">
          <%= bill_form.label :alternative_phone, t(:alternative_phone) %><br />
          <%= bill_form.text_field :alternative_phone %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
</fieldset>
</div>
